<!DOCTYPE html>

<html lang="en" itemscope itemtype="http://schema.org/Article">
<head>

  <meta charset="UTF-8" />
  <title>peer-to-peer voice journal with Nexmo</title>

  <link rel="stylesheet" href="/static/css/volta.min.css" />
  <link rel="stylesheet" href="/static/css/plyr.css" />
  <style>
    .Vlt-main {
      padding: 20px;
    }
  </style>

  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
</head>

  <body>
    <main class="Vlt-main" id="voice-journal-app">
      <div class="Vlt-grid">
        <div class="Vlt-col">
          <info-peers v-bind:peer-count="peers"></info-peers>
        </div>
        <div class="Vlt-col">
          <info-version v-bind:version="version"></info-version>
        </div>
        <div class="Vlt-col">
          <info-mtime v-bind:mtime="mtime"></info-mtime>
        </div>
        <div class="Vlt-col">
          <info-size v-bind:archive-size="filesize"></info-size>
        </div>
        <div class="Vlt-grid__separator"></div> <!-- Empty line breaker -->

        <div class="Vlt-col Vlt-col--1of2" v-for="recording in recordings">
          <div class="Vlt-card Vlt-card--image">
            <div class="Vlt-card__image" v-bind:class="recording.stat.color">
              <div class="Vlt-card__image__icon">
                <svg><use xlink:href="/static/symbol/volta-icons.svg#Vlt-icon-voicemail"/></svg>
              </div>
            </div>
            <div class="Vlt-card__content">
              <audio id="player" controls>
                  <source v-bind:src="'/recordings/' + recording.name" type="audio/mp3">
              </audio>
              <p>
                <span class="Vlt-badge">
                  created: {{ recording.stat.createdTime }}
                </span>
                <span class="Vlt-badge">
                  size: {{ recording.stat.humanSize }}
                </span>
                <span class="Vlt-badge" v-bind:class="{'Vlt-badge--red': recording.stat.missingBlocks}">
                  blocks: {{ recording.stat.downloaded }}/{{ recording.stat.blocks }}
                </span>
              </p>
            </div>
          </div>
        </div>
      </div>

      <a class="Vlt-btn Vlt-btn--secondary Vlt-js-accordion__trigger" data-accordion="history-accordion">
        <svg><use xlink:href="/static/symbol/volta-icons.svg#Vlt-icon-calendar"></use></svg>
        History
      </a>
      <div class="Vlt-js-accordion__content" id="history-accordion">
          <div class="Vlt-table">
              <table>
                <thead>
                  <th>Path</th>
                  <th>Type</th>
                  <th>Version</th>
                </thead>
                <tbody v-if="archiveHistory">
                  <tr v-for="revision in archiveHistory">
                    <td>{{ revision.path }}</td>
                    <td>
                      <svg v-if="revision.type == 'del'" class="Vlt-icon Vlt-red"><use xlink:href="/static/symbol/volta-icons.svg#Vlt-icon-bin"></use></svg>
                      <svg v-if="revision.type == 'put'" class="Vlt-icon Vlt-blue"><use xlink:href="/static/symbol/volta-icons.svg#Vlt-icon-edit"></use></svg>
                    </td>
                    <td>{{ revision.version }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
      </div>
      
    </main>

    <div id="critical-not-dat" class="Vlt-callout Vlt-callout--critical Vlt-flash Vlt-flash--small Vlt-flash--top">
      <i></i>
      <div class="Vlt-callout__content">
        <p>This is a `Dat` site and requires a `Dat` browser like <a href="https://beakerbrowser.com/">Beaker</a></p>
      </div>
    </div>

    <script src="/static/js/svgxuse.min.js"></script>
    <script src="/static/js/volta.min.js"></script>
    <script src="/static/js/moment.min.js"></script>
    <script src="/static/js/filesize.min.js"></script>
    <script src="/static/js/plyr.js"></script>
    <script src="/static/js/vue.js"></script>
    <script src="/static/js/vue-async-computed.js"></script>
    <script src="/static/js/vue-components/info-boxes.js"></script>
    <script src="/static/js/voice-journal.js"></script>
  </body>
</html>
